body{
    display: grid;
    gap: 10px;
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
    grid-template-columns: 100px auto;

}

.header{
    grid-area: header;
    background-color: #B5D8FF;
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
}


.nav{
    
    grid-area: sidebar;
    background-color: #B5D8FF;
    margin: 8px;
    border-radius: 10px;
    text-align: left;
    line-height: 25px  ;
}

main{
    grid-area: main;
    background-color: #B5D8FF;
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
}

footer{
    grid-area: footer;
    background-color: #B5D8FF;
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
}

a{
    text-decoration: none;
  }