* {
    box-sizing: border-box;
  }

li {
    list-style: none;
  }

  body {
    background-color: lightgray;
    margin: 100px 0px;
  }

  body, ul, li{
    display: flex;
    justify-content: center;
  }

  ul{
    list-style: none;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }

  li{
    background-color: white;
    border: 10px solid black;
    padding: 20px;
    /* justify-content: center; */
    box-shadow: inset 0px 0px 10px black;
    margin-right: 40px;

  }

  img{
    aspect-ratio: calc(9/16);
    object-fit:contained;
  }

