html{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, serif;
}

th{
    background-color: #cccccc;
}

th, td{
   width: 144px;
   height: 32px;
   padding-left: 5px; 
   border: 1px solid #ccc;

}

table{
    border-collapse: collapse;
}

tr:nth-child(odd){
    background-color: #f1f1f1;
  }

  blockquote {
    font-style: italic;
    border-left: rgb(221,221,221) ;
  }