@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

body{
margin: 0;
}

.viewport{
    position: relative;
    overflow: hidden;
    height: 50vh;
}

.card{
    display: block;
    position: absolute;
    width: 200px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img {
    width: 100%;
}

i{
    bottom: 6px;
    right: 4px;
    color: white;
    position: absolute;
}

.viewport:first-child {
    background-image: linear-gradient(to right, rgb(32, 111, 196), rgb(22, 187, 159));
}


.viewport:nth-child(2) {
    background-image: linear-gradient(to right, rgb(196, 12, 140), rgb(224, 154, 24));
}
